
:root{
  --blue: #A1C3d1;
  --purple: #b39bc8;
  --white:#F0EBF4;
  --salmon: #F172A1;
  --pink: #E64398;
  --bright-white: #ffffff;
}

body,main{
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5{
  margin: 0;
  padding: 0;
}


body{
  
  background-color: var(--bright-white)
}



