:root{
  --blue: #A1C3d1;
  --purple: #b39bc8;
  --white:#F0EBF4;
  --salmon: #F172A1;
  --pink: #E64398;
}

.dropdown-selector {
  position: absolute;
  padding: 0.5rem;
  background-color: white;
  border: 1px black solid;
}

.dropdown-container {
  border: 1px black solid;
  background-color: white;
  padding: 0.5rem;
}

.dropdown-option {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
