:root {
	--blue: #a1c3d1;
	--purple: #b39bc8;
	--white: #f0ebf4;
	--salmon: #f172a1;
	--pink: #e64398;
	--black: #444444;
	--bright-white: #f3f3f3;
	--node-diameter: 24px;
	--edges-and-borders: #f0ebf4;
}

* {
	box-sizing: border-box;
}

.graph-unit {
	height: var(--node-diameter);
	width: var(--node-diameter);
	display: flex;
	align-items: center;
	justify-content: center;
}

.normal-node {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--purple);
	border: 1px var(--edges-and-borders) solid;
}

.start-node {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: green;
}

.finish-node {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: red;
}

.left-right-edge {
	background-color: var(--edges-and-borders);
	height: 3px;
	width: 100%;
}

.up-down-edge {
	height: 100%;

	background-color: var(--edges-and-borders);
	width: 3px;
}

.visited-node {
	width: 100%;
	height: 100%;
	border-radius: 50%;

	animation: visited-node-animation 3s forwards;
}

@keyframes visited-node-animation {
	0% {
		background-color: var(--salmon);
		height: 1px;
		width: 1px;
	}

	50% {
		background-color: purple;
	}

	100% {
		background-color: var(--pink);
		height: var(--node-diameter);
		width: var(--node-diameter);
	}
}

.node-in-queue {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: blue;
}

@keyframes shortest-path-animation {
	0% {
		background-color: var(--blue);
		height: 1px;
		width: 1px;
	}
	50% {
		background-color: var(--salmon);
	}
	100% {
		background-color: purple;
		height: var(--node-diameter);
		width: var(--node-diameter);
	}
}

.shortest-path-node {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: purple;
	animation: 1s forwards shortest-path-animation;
}

.graph_container {
}

.graph-col {
	display: flex;
}

.node-selection-menu {
	position: absolute;
	font-family: sans-serif;
	color: var(--black);
	border-radius: 0.2rem;
	box-shadow: 1px 0.5px 15px grey;
	background-color: white;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.node-selection-menu-option {
	text-align: center;
	padding: 0.5rem 1rem;
}

.node-selection-menu-option:hover {
	cursor: pointer;
	background-color: lightgrey;
}
